.charge-row {
    padding-left: 2em;
}

.charge-row:not(.total) {
    border-bottom: 1px solid #dbdbdb;
}

.charge-row,
.total-row {
    display: grid;
    grid-template-columns: [source] 3fr [usage] 1fr [usage-uom] 1fr [cost] 1fr;
    align-items: center;

    .source {
        grid-area: source;
    }

    .usage {
        grid-area: usage;
        text-align: right;
        padding-right: 5px;

    }

    .usage-uom {
        grid-area: usage-uom;
        text-align: left;
    }

    .cost {
        grid-area: cost;
        text-align: right;
        padding-right: 2em;
    }
}

.scenario-source-section {
    padding-left: 2em;
}

.scenario-source-charges-section {
    padding-left: 2em;

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.bold {
    font-weight: bold;
}

.scenario-breakdown {
    max-width: 50em;
}

.no-marker {
    list-style-type: none;
}

.summary-usage-input {
    display: grid;
    max-width: 50em;
    grid-template-areas: ". electrical-label gas-label"
        "lowest-label lowest-electrical lowest-gas"
        "highest-label highest-electrical highest-gas";

    .lowest-label {
        grid-area: lowest-label;
    }

    .highest-label {
        grid-area: highest-label;
    }

    .electrical-label {
        grid-area: electrical-label;
        text-align: center;
    }

    .gas-label {
        grid-area: gas-label;
        text-align: center;

    }

    .lowest-electrical {
        grid-area: lowest-electrical;
    }

    .highest-electrical {
        grid-area: highest-electrical;
    }

    .lowest-gas {
        grid-area: lowest-gas;
    }

    .highest-gas {
        grid-area: highest-gas;
    }
}