:root {
    --border-color: #dbdbdb;
    --scenario-max-width: 50em;
}

.charge-row {
    padding-left: 1.5em;
}

.charge-row:not(.total) {
    border-bottom: 1px solid var(--border-color);
}

.charge-row,
.total-row {
    display: grid;
    grid-template-columns: [source] 3fr [usage] 1fr [usage-uom] 1fr [cost] 1fr;
    align-items: center;

    .source {
        grid-area: source;
    }

    .usage {
        grid-area: usage;
        text-align: right;
        padding-right: 5px;
        white-space: nowrap;
    }

    .usage-uom {
        grid-area: usage-uom;
        text-align: left;
    }

    .cost {
        grid-area: cost;
        text-align: right;
        padding-right: 2em;
    }
}

.scenarios {
    display: flex;
    flex-direction: row;

    .start-conversion {
        align-self: end;
        margin: 1em;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.scenario-source-section {
    padding-left: 1.5em;
}

.scenario-source-charges-section {
    padding-left: 1.5em;

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.bold {
    font-weight: bold;
}

.scenario-breakdown {
    max-width: var(--scenario-max-width);
}

.no-marker {
    list-style-type: none;
}

.summary-usage-input {
    display: grid;
    max-width: var(--scenario-max-width);
    background-color: var(--border-color);
    grid-gap: 2px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    grid-template-areas: "top-left electrical-label gas-label"
        "lowest-label lowest-electrical lowest-gas"
        "highest-label highest-electrical highest-gas";

    >* {
        background-color: white;
        border: 0;
    }

    .top-left {
        grid-area: top-left;
    }

    .lowest-label {
        grid-area: lowest-label;
    }

    .highest-label {
        grid-area: highest-label;
    }

    .electrical-label {
        grid-area: electrical-label;
        text-align: center;
        padding-right: 5px;
    }

    .gas-label {
        grid-area: gas-label;
        text-align: center;
        padding-right: 5px;
    }

    .lowest-electrical {
        grid-area: lowest-electrical;
        text-align: right;
        padding-right: 5px;
    }

    .highest-electrical {
        grid-area: highest-electrical;
        text-align: right;
        padding-right: 5px;
    }

    .lowest-gas {
        grid-area: lowest-gas;
        text-align: right;
        padding-right: 5px;
    }

    .highest-gas {
        grid-area: highest-gas;
        text-align: right;
        padding-right: 5px;
    }
}

.gas-rate-simple {
    display: grid;
    grid-template-columns: auto 10em max-content;
    max-width: var(--scenario-max-width);
    margin: 1em 0;
    align-items: baseline;
    grid-gap: 5px;

    >input {
        border: 2px solid var(--border-color);
        text-align: right;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    /* Firefox */
}