:root {
    --border-color: #36363e;
    --scenario-max-width: 50em;
    --scenario-min-width: 40em;
    --theme-color-1: #94afec;
    --theme-color-2: #b3dfcf;
    --theme-color-3: #eee346;
}

body {
    background: var(--theme-color-2);
    font-family: Sans-Serif;
}

.charge-row {
    padding-left: 1.5em;
}

.charge-row:not(.total) {
    border-bottom: 1px solid var(--border-color);
}

.charge-row,
.total-row {
    display: grid;
    grid-template-columns: [source] 3fr [usage] 1fr [usage-uom] 1fr [cost] 1fr;
    align-items: center;

    .source {
        grid-area: source;
    }

    .usage {
        grid-area: usage;
        text-align: right;
        padding-right: 5px;
        white-space: nowrap;
    }

    .usage-uom {
        grid-area: usage-uom;
        text-align: left;
    }

    .cost {
        grid-area: cost;
        text-align: right;
        padding-right: 2em;
    }
}

.scenarios {
    display: flex;
    overflow: auto;

    @media (min-width:320px) {
        /* smartphones, iPhone, portrait 480x320 phones */
        flex-direction: column;
    }

    @media (min-width:481px) {
        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        flex-direction: column;
    }

    @media (min-width:641px) {
        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        flex-direction: column;
    }

    @media (min-width:961px) {
        /* tablet, landscape iPad, lo-res laptops ands desktops */
        flex-direction: column;
    }

    @media (min-width:1025px) {
        /* big landscape tablets, laptops, and desktops */
        flex-direction: row;
    }

    @media (min-width:1281px) {
        /* hi-res laptops and desktops */
        flex-direction: row;
    }

    .start-conversion {
        align-self: end;
        margin: 1em;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.scenario-source-section {
    padding-left: 1.5em;
}

.scenario-source-charges-section {
    padding-left: 1.5em;

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.bold {
    font-weight: bold;
}

.scenario-breakdown {
    max-width: var(--scenario-max-width);
    padding: 0.25em;

    @media (min-width:320px) {
        /* smartphones, iPhone, portrait 480x320 phones */
        flex-direction: column;
    }

    @media (min-width:481px) {
        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        flex-direction: column;
    }

    @media (min-width:641px) {
        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        flex-direction: column;
    }

    @media (min-width:961px) {
        /* tablet, landscape iPad, lo-res laptops ands desktops */
        flex-direction: column;
    }

    @media (min-width:1025px) {
        /* big landscape tablets, laptops, and desktops */
        min-width: var(--scenario-min-width);
    }

    @media (min-width:1281px) {
        /* hi-res laptops and desktops */
        min-width: var(--scenario-min-width);
    }
}

.scenario-header {
    display: flex;
    justify-content: space-between;
    border-left: var(--theme-color-3) 10px solid;
    align-items: baseline;
    padding: 0 5px;
}

.no-marker {
    list-style-type: none;
}

input {
    background: var(--theme-color-1);
}

input[type="checkbox"] {
    accent-color: var(--theme-color-1);
}

button {
    background: var(--theme-color-1);
    border: 2px solid var(--border-color);
    padding: 0.5em;
}

.summary-usage-input {
    display: grid;
    max-width: var(--scenario-max-width);
    background-color: var(--border-color);
    grid-gap: 2px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    grid-template-areas: "top-left electrical-label gas-label"
        "lowest-label lowest-electrical lowest-gas"
        "highest-label highest-electrical highest-gas";

    >* {
        border: 0;
    }

    > :not(input) {
        background-color: var(--theme-color-2);
    }

    .top-left {
        grid-area: top-left;
    }

    .lowest-label {
        grid-area: lowest-label;
    }

    .highest-label {
        grid-area: highest-label;
    }

    .electrical-label {
        grid-area: electrical-label;
        text-align: center;
        padding-right: 5px;
    }

    .gas-label {
        grid-area: gas-label;
        text-align: center;
        padding-right: 5px;
    }

    .lowest-electrical {
        grid-area: lowest-electrical;
        text-align: right;
        padding-right: 5px;
    }

    .highest-electrical {
        grid-area: highest-electrical;
        text-align: right;
        padding-right: 5px;
    }

    .lowest-gas {
        grid-area: lowest-gas;
        text-align: right;
        padding-right: 5px;
    }

    .highest-gas {
        grid-area: highest-gas;
        text-align: right;
        padding-right: 5px;
    }
}

.gas-rate-simple {
    display: grid;
    grid-template-columns: auto 10em max-content;
    max-width: var(--scenario-max-width);
    margin: 1em 0;
    align-items: baseline;
    grid-gap: 5px;

    >input {
        border: 2px solid var(--border-color);
        text-align: right;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    /* Firefox */
}